* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    color: rgb(255, 255, 255);
    background: #2E2E2E;
}
#contact-form{
    position: absolute;
    width: 460px;
    height: 665px;
    background: #28282B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: 1px solid #FFFFFF;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 40px;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
}

input {
    height: 40px;
    width: 260px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
}
button {
    position: relative;
    left: 125px;
    margin-top: 40px;
    text-align: center;
    height: 60px;
    width: 200px;
    background: #006422;
    border: 2px solid #020202;
    border-radius: 5px;
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s, box-shadow .3s;
}

button:hover {
    color: #feffff;
    box-shadow: 0px 0px 3px 3px #c8f500;
}
p{
    position: relative;
    left: 105px;
    margin-bottom: -10px;
}

.password-validation1, .password-validation2, .nickname-validation, .email-validation {
    font-size: 10px;
    text-align: center;
    color: tomato;
    margin-top: -17px;
    margin-bottom: 20px;
}